<div class="container about-section" id="about-section">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="getknowandabout-info">
                <p class="getknow">Get to know more</p>
                <h2 class="aboutme">About Me</h2>
            </div>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-md-6">
            <div class="info-container d-flex align-items-center">
                <p class="info-exp card2">
                    I am a highly motivated and enthusiastic individual with a strong foundation in web development. Through
                    various projects and personal initiatives, I have developed strong analytical, problem-solving skills.
                    My expertise includes HTML, CSS, JavaScript, and Angular, enabling me to create dynamic and responsive
                    web applications.
                    My passion for continuous learning and my proactive approach to tackling challenges make me a valuable
                    addition to any team.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="exp-edu-cards text-center">

                <div class="card eduexp">
                    <div class="card-body">
                        <i class="fa-solid fa-award fa-2x"></i>
                        <h2 class="card1">Education</h2>
                        <span class="card2">B.E. Bachelor Of Engineering</span>
                        <p class="card2">CGPA 7.79</p>
                    </div>
                </div>

                <div class="card eduexp">
                    <div class="card-body">
                        <i class="fa-solid fa-user-graduate fa-2x"></i>
                        <h2 class="card1">Experience</h2>
                        <span class="card2">GDigit InfoTech, Pune</span>
                        <p class="card2">1.5+ Years</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>