
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="bg-profile img-fluid" src="./assets/Passport.jpg" alt="profile-photo">
            <div class="profile-overlay"></div>
        </div>
        <div class="col-md-6 center-info text-center">
            <h2 class="hey-info">Hey, I'm</h2>
            <p class="name-info">Raza Tamboli</p>
            <h2 class="posi-info mb-4">FrontEnd Developer</h2>

            <div class="d-flex justify-content-center align-items-center two-btns">
                <button class="btn btn-outline-dark btn2 download-btn"><a href="./assets/Resume.pdf" download>Download Resume</a></button>
                <button class="btn btn-outline-dark btn2 contact-btn"><a href="#contact-section">Contact</a></button>
            </div>
        </div>
    </div>
</div>

<div class="arrow">
    <a class="fa-solid fa-angles-up fa-2x arrow-icon visible" href="#navbar-secion"></a>
</div>