<div class="container contact-section" id="contact-section">
    <div class="row text-center">
        <div class="col-md-8 offset-md-2">
            <div class="contact-info">
                <h2 class="card2">Get in Touch</h2>
                <p class="card1">Contact</p>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-around align-items-center flex-column black-theme flex-wrap">
                        <i class="fa-solid fa-envelope fa-2x"></i>
                        <a class="card2 email text-white" href="mailto:razatamboli007@gmail.com">razatamboli007@gmail.com</a>

                        <i class="fa-solid fa-phone fa-2x"></i>
                        <a class="card2 mobile text-white" href="tel:+918080676741">+91 8080676741</a>
                    </div>
                </div>
            </div>

            <!-- Navbar -->


        </div>
    </div>
</div>